# =========================
# DATASETS (DO NOT COMMIT)
# =========================
disease_model/data/
**/data/
**/raw/

# =========================
# TEMP FILES
# =========================
*.crdownload

# =========================
# PYTHON
# =========================
__pycache__/
*.pyc
.env

# =========================
# ML MODELS (OPTIONAL)
# =========================
*.h5
*.keras
